* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit], input[type=cancel] {
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit] {
  color:#fff;
  background-color: dodgerblue;
  width: 100%;
  margin-top: 10px;
}

input[type=cancel] {
  background-color: red;
  color: white;
}

input[type=submit]:hover {
  /* background-color: #45a049; */
  background-color: darkblue;
}

input[type=cancel]:hover {
  background-color: firebrick;
}

/* Style the container/contact section */
.container {
  width: 100vw;
  height: 100vh;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center  
}

.box {
  width: 400px;
  height: 400px;
  background: #fff;
}

body {
  margin: 0px;
}

